

/* GLOBAL CLASSES */
.header-text {
   justify-content: center;
   text-align: center;
   padding-top: 50px;
}

.header-text-button {
   padding: 40px;
}
.header-text-button h4 {
   font-weight: bold;
}
.header-text-button p {
   margin: 20px 0;
}

.big-image {
   width: 50%;
   height: 50%;
}



/* PAGE HEADER STYLING */
.page-header {
   background-image: url("../images/placeholder.webp");
   display: flex; justify-content: center;
}
.page-header-text {
   display: flex; flex-direction: column; align-items: center;
   margin: 50px auto;
}
.page-header-text h2 {
   margin-bottom: 20px;
}

/* Image Section STYLING */
.image-section-container {
   padding: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.image-header-text {
   flex-basis: 45%;
   justify-content: center;
}
.image-header-text p {
   margin: 20px 0;
}


/*  TEAM SECTION STYLING */
.header-text-button-container {
   margin: 80px 100px 20px 100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.header-text-button-container h3 {
   margin-bottom: 20px;
}
.team-container {
   margin: 50px 100px;
   display: block;
}
.team-member {
   background: var(--background_alt);
   max-width: 300px;
   border-radius: 15px;
   grid-row: 1;
   padding: 20px;
   margin-right: 50px;
}
.profile-pic {
   width: 80px;
   height: 80px;
   border-radius: 40px;
   margin-bottom: 20px;
}
.hiring {
   width: fit-content;
   margin-left: 3%;
   border: 1px solid var(--primary);
   border-radius: 0 40px 0 40px;
}


/* Testimonials Section STYLING */
.review-container {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 50px;
}
.review {
   width: fit-content;
   justify-content: center;
}
.profile {
   display: flex;
   flex-direction: row;
}
.profile-pic {
   width: 80px;
   height: 80px;
   border-radius: 40px;
   margin-bottom: 20px;
}


