

/* GLOBAL CLASSES */
.big-image {
   flex-basis: 50%;
   max-width: 50%;
}



/* PAGE HEADER STYLING */
.page-header {
   background-image: url("../images/team.png");
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   height: fit-content;
}
.filter {
   position: relative;
   background: rgba(0,0,0,0.7);
   width: 100%;
}
.page-header-text {
   display: flex; flex-direction: column; align-items: center;
   margin: 80px auto;
   h2 {
      color: var(--background_alt);
   }
}



/* Mid Header STYLING */
.header-text {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-align: start;
   padding: 50px 5%;
   gap: 7%;
   background: var(--background_alt);
}
.mid-header::after{
   z-index: -1;
   content: '';
   position: absolute;
   height: 100px;
   width: 100%;
   background: linear-gradient(0deg, white 50%, var(--background_alt) 100%);
}
.header-text p {
   flex-basis: 50%;
   text-align: left;
}
.zero-deg {
   background: linear-gradient(1deg, #DEF9F6 10%, #266C6C 130%);
   font-size: inherit;
   font-weight: 600;
   width: fit-content;
   background-clip: text;
   color: transparent;
}


/* Image Section STYLING */
.image-section-container {
   padding: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
}
.image-header-text {
   flex-basis: 45%;
   justify-content: center;
}
.image-header-text p {
   padding: 20px;
   border: 1px solid var(--primary);
   margin: 30px 0;
}
#one {
   position: relative;
   right: 40px;
}
#two {
   position: relative;
   left: 20px;
}
#three {
   position: relative;
   right: 10px;
   bottom: 10px;
}


.alt {
   background: var(--background_alt);
   padding: 0 5%;
}
.alt p {
   line-height: 1.5;
   border: none;
   padding: 0;
}
#number-one {
   font-size: inherit;
   font-weight: 600;
   width: fit-content;
   background: linear-gradient(30deg, #FFE30F, #F23E50 130%);
   background-clip: text;
   color: transparent;
}
#contact-link {
   font-weight: bold;
   font-style: italic;
   text-decoration: underline;
   color: #165C5C;
}
td {
   padding: 5px;
}
.left-side {
   p {
      border: none;
      padding: 0;
      line-height: 1.5;
   }
   img {
      height: 16px;
      width: 16px;
      margin-right: 10px;
   }
}


/*  TEAM SECTION STYLING */
.header-text-button-container {
   margin: 80px 5% 20px 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 30px
}
.team-container {
   margin: 50px 100px;
   display: block;
}
.team-member {
   background: var(--background_alt);
   max-width: 300px;
   border-radius: 15px;
   grid-row: 1;
   padding: 20px;
   margin-right: 50px;
}
.profile-pic {
   width: 80px;
   height: 80px;
   border-radius: 40px;
   margin-bottom: 20px;
}
.hiring {
   width: fit-content;
   margin-left: 3%;
   border: 1px solid var(--primary);
   border-radius: 0 40px 0 40px;
   background: linear-gradient(-98deg, #FFFFFF 0%, #EBFDFF 10%, #FFFFFF 30%, #F6FFFF 50%, #EAF8F7 70%, #FFFFFF 90% );
   .container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p {
         margin: 0;
      }
      button {
         border-radius: 20px 0 20px 0;
         border: 2px solid var(--primary);
         background: linear-gradient(-167deg, #308E8E -12%, #043535 65%, #279797 100% );
      }
   }
}




