
/*    Common Classes    */
.page-header {}
.interlude-header {}

.meet-our-team {}
.FAQs {}
.testimonials {}

.image-and-list {}
.image-section {}


/* GLOBAL DEFINITIONS */
h2 {
   font-size: 4em;
   font-weight: bold;
}
h3 {
   font-size: 3em;
   font-weight: bold;
}
h4 {
   font-size: 2em;
   font-weight: 400;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: white;
   font-family: Monospaced, sans-serif;
   font-weight: 300;
   font-size: 16px;
   color: #444444;
   text-decoration: none;
}

header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 22px 5%;
   background-color: white;
   border-bottom: 1px solid gray;
}



/* GLOBAL CLASSES */
.header-text {
   justify-content: center;
   text-align: center;
   padding-top: 50px;
}

.header-text-button {
   padding: 100px;
}
.header-text-button h4 {
   font-weight: bold;
}
.header-text-button p {
   margin: 20px 0;
}


/* LANDING HEADER STYLING */
.landing-header-text-button {
   background-image: url("../images/placeholder.webp");
   padding: 100px;
}
.landing-header-text-button p {
   background: none;
   margin: 20px 0;
}
.landing-header-text-button h2 {
   background: none;
}


/* OFFER HEADER STYLING */
.offer-header {
   text-align: center;
}
.offer-text-button {
   border: 1px solid #444444;
   padding: 50px;
   margin: 50px;
}
.offer-text-button p {
   margin: 20px 0;
}



/*  Image FEATURES SECTION  */
#image-features {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.top-part {
   text-align: center;
   width: 100%;
}
.bottom-part {
   padding: 0 100px 100px 100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.feature {
   border: 1px solid white;
   padding: 0 40px;
   margin: 40px 0;
}
.feature:hover {
   border-left: 1px solid #444444;
}
#feature-image {
   width: 50%;
   height: 50%;
}


/* PAGE HEADER STYLING */
.page-header {
   background-image: url("../images/placeholder.webp");
   display: flex; justify-content: center;
}
.page-header-text {
   display: flex; flex-direction: column; align-items: center;
   margin: 50px auto;
   background: transparent;
}
.page-header-text p {
   margin: 0;
   background: transparent;
}
.page-header-text h2 {
   background: transparent;
}


/* INTERLUDE HEADER SECTION STYLING */
.interlude-container {
   background-image: url("../images/placeholder.webp");
   display: flex; flex-direction: row;
   padding: 100px;
}
#interlude-container-left {
   flex-basis: 50%;
   color: white;
   background: transparent;
   font-weight: bold;
   font-size: 50px;
   padding: 0;
}
#interlude-container-right {
   flex-basis: 50%;
   background: transparent;
   color: white;
   font-size: 20px;
   margin: 0;
}



/* E-COMMERCE SECTION STYLING */
.e-commerce-container {
   padding: 50px;
}
.top-container {
   display: flex;
   flex-direction: row;
}
#class-image {
   width: 800px;
   height: 700px;
   flex-basis: 50%;
}
.class-details {
   padding-left: 50px;
   flex-basis: 50%;
}



/*  TEAM SECTION STYLING */
.team-container {
   padding: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.team-member {
   padding: 20px;
}
.profile-pic {
   width: 80px;
   height: 80px;
   border-radius: 40px;
   margin-bottom: 20px;
}



/* TESTIMONIALS STYLING */
.testimonials-container {
   padding: 50px;
   display: flex;
   flex-direction: row;
}
.testimonials-column {
   display: flex;
   flex-direction: column;
}
.testimonial {
   padding: 25px;
   margin: 15px;
   border: 1px solid gray;
}
.quote {
   font-style: italic;
   margin: 20px 0;
}
.student-name {
   font-weight: bold;
   margin-bottom: 2px;
}


/* PRICING PLAN SECTION STYLING */
.plans-container {
   padding: 50px 20%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.pricing-plan {
   padding: 30px;
   border: 1px solid #444444;
}
.plan-name {
   margin-bottom: 20px;
}
.plan-price {
   padding: 20px 0;
   border-top: 1px solid #444444;
   border-bottom: 1px solid #444444;
}
.plan-price h4 {
   margin-bottom: 10px;
}
.goto {
   color: white;
   background-color: black;
   width: 100%;
   margin-top: 20px;
   text-align: center;
}


/* FAQs Section STYLING  */
.FAQs {
   margin: 40px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.FAQs div {
   margin: 20px 0;
}

.FAQs ul {
   display: flex;
   flex-direction: column;
}
.FAQs ul li h4 {
   margin-bottom: 40px;
   font-weight: bold;
}

.FAQs ul li {
   text-align: left;
}
.QA-content {
   width: 50%;
}
.QA-content li {
   padding: 20px 0;
}
.question {
   font-weight: bold;
   margin-bottom: 5px;
}
.header-text h4 {
   margin-bottom: 20px;
}
#contact-button {
   margin-top: 20px;
}





.image-section {
   padding: 30px;
}











#list_icon {
   width: 18px;
   height: 18px;
}

.contact-map {
   display: flex;
   flex-direction: column;
   align-items: center;
}

iframe {
   margin: 50px;
}

#location {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.card-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.card-list {
   display: block;
   margin: 0 10px;
}
.product {
   padding: 25px;
   background: lightcoral;
}
.product h3 {
   font-size: 18px;
}

.slider {
   margin-top: 50px;
}

.card-list .card .product-link {
   width: 300px;
   display: block;
   text-decoration: none;
   padding: 18px;
   border: 1px solid black;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card-list .card {
   list-style: none;
   margin: 15px;
}

.card-list .product-link .product-image {
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
}

.card-list .card .badge {
   background: lightgray;
   padding: 7px 14px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 5px 0;
   width: fit-content;
   border-radius: 50px;
}
.card-list .card .product-title {
   font-size: 1.2rem;
   font-weight: 600;
   padding-top: 5px;
   padding-bottom: 0px;
}

.product-desc {
   margin: 10px 0;
}



.contact-map-header {
   padding: 0 60px;
   margin-bottom: 60px;
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.contact-map-header-left {
   flex-basis: 70%;
}
.contact-map-header-right {
   flex-basis: 30%;
}

.contact-form {
   background: #efefef;
   display: flex;
}
.contact-form-left {
   flex-basis: 50%;
   padding: 40px 60px;
}
.contact-form-right {
   flex-basis: 50%;
   padding: 40px;
}

.input-row {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}
.input-row .input-group {
   flex-basis: 45%;
}
input {
   width: 100%;
   border: none;
   border-bottom: 1px solid #efefef;
   outline: none;
   padding-bottom: 5px;
}
textarea {
   width: 100%;
   border: 1px solid #efefef;
   outline: none;
   padding: 10px;
   box-sizing: border-box;
}
label {
   margin-bottom: 6px;
   display: block;
   font-weight: bold;
}

tr td:first-child {
   padding-right: 20px;
}
tr td {
   padding-top: 15px;
}









ul {
   list-style: none;
}
ul li {
   display: inline-block;
   position: relative;
}

.dropdown {
   border: 1px solid #4d4d4d;
   width: max-content;
   margin-top: 15px;
   background: white;
   position: absolute;
   display: none;
   z-index: 999;     /* most infront in the screen */
}

#pageLinks .dropdown li {
   display: block;
   margin: 12px;
   padding: 0px;
   flex-direction: column;
   width: auto;
   align-items: center;
}

#pageLinks .dropdown li a {
   display: block;
   padding: 10px;
   color: #444444;
   text-decoration: none;
   text-align: center;
   font-size: 14px;
   transition: all 0.3s ease;
}
#pageLinks .dropdown li a:hover {
   color: black;
   text-decoration: none;
   transform: translateY(-1px) translateX(2px);
}

#pageLinks {
   display: flex;
   width: auto;
   margin-right: 50px;
}

#pageLinks li {
   display: inline-block;
   padding: 8px;
   background-color: white;
   margin: 5px;
}
#pageLinks li:hover ul.dropdown {
   display: block;
}

#pageLinks li a {
   transition: all 0.3s ease;
   padding: 15px;
}
#pageLinks li a:hover {
   color: black;
   transition: all 0.3s ease;
}

.CTA img {
   width: 10%;
   height: 10%;
   margin-right: 5px;
}



#logo {
   cursor: pointer;
   width: 240px;
   height: 40px;
}


button {
   padding: 12px 25px;
   background-color: white;
   border: 1px solid gray;
   cursor: pointer;
}

button:hover {
   border-color: black;
}



.footer {
   border-top: 1px solid gray;
   margin-top: 100px;
   padding: 80px 15%;
   background: #fdfaf6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   list-style: none;
   width: 100%;
}
.footer ul {
   flex-direction: column;
}

.footer-content {
   background: #fdfaf6;
}

.footer-right {
   display: flex;
   justify-content: space-evenly;
}

.footer-content h4 {
   color: #4d4d4d;
   margin-bottom: 20px;
   font-size: 16px;
   background: #fdfaf6;
   margin-right: 40px;
}

.footer-content li {
   margin-bottom: 16px;
}

.footer-content li a {
   display: block;
   color: #4d4d4d;
   font-size: 12px;
   font-weight: 400;
   transition: all 0.4s ease;
   background: #fdfaf6;
}

.footer-content li a:hover {
   transform: translateX(-2px) translateY(-3px);
}

.footer-content p {
   color: #4d4d4d;
   font-size: 14px;
   margin: 10px 0;
}

.icons a {
   color: #4d4d4d;
   font-size: 22px;
   margin-right: 10px;
}

.image-and-list {
   display: flex;
   justify-content: space-around;
}
.calendar-display {
   display: flex;
   justify-content: space-around;
}
.image-section {
   display: flex;
   justify-content: space-around;
}
.number-container {
   display: flex;
   flex-direction: row;
}
.statistic h4 {
   font-size: 20px;
   font-weight: bold;
}

.placeholder {
   width: 1000px;
   height: 500px;
}
