:root {
   --text: black;

   --background: white;
   --background_alt: #EBFBFB;
   --fill: #E2FAFA;

   --primary: #3EB7B7;
   --primary_dark: #17A3A3;
   --secondary: #D8FCF4;

   --button: #3EB7B7;
   --button-hover:  #266C6C;

   --accent: #38E1F3;

   --misc_1: #DCF0FF;
   --misc_2: #DFFBF4;
   --misc_3: #E2FAFA;
}

/* GLOBAL CLASSES */
.header-text {
   justify-content: center;
   text-align: center;
   padding: 50px 0 20px 0;
}
.header-text h3 {
   margin-bottom: 20px;
}


.header-text-button {
   padding: 50px 50px 0 50px;
}
.header-text-button h4 {
   font-weight: bold;
}
.header-text-button p {
   margin: 20px 0;
}



/* LANDING HEADER STYLING */
.landing-header-text-button {
   background-image: url("../images/landing_header.png");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   padding: 150px 100px;
   min-height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.landing-header-top p {
   margin: 40px 0;
}
.primary-button {
   border: 2px solid var(--button);
   border-radius: 0 20px 0 20px;
   background: var(--button-hover);
   text-color: white;
   margin: 100px 0;
}
.primary-button:hover {
   background: var(--button);
}


/* OFFER HEADER STYLING */
.offer-header {
   text-align: center;
   height: fit-content;
   padding: 20px ;
}
.offer-text-button {
   border: 2px groove var(--accent);
   border-radius: 40px;
   padding: 50px;
   margin: 50px;
}
.offer-text-button p {
   margin: 20px 0;
}



/*  Image FEATURES SECTION  */
#image-features {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.top-part {
   text-align: center;
   width: 100%;
}
.bottom-part {
   padding: 40px 5% 100px 5%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 8%;
}
.feature {
   padding: 20px 30px;
   width: 100%;
   border: 2px solid white;
   border-radius: 0 20px 20px 0;
   margin: 40px 0;
   transition: 0.2s;
}
.feature h4 {
   font-weight: 500;
   margin-bottom: 15px;
}
.feature:hover {
   background: var(--fill);
   border-left: 2px solid #444444;
}
#feature-image {
   width: 50%;
   height: 50%;
}


/* PAGE HEADER STYLING */
.page-header {
   background-image: url("../images/placeholder.webp");
   display: flex; justify-content: center;
}
.page-header-text {
   display: flex; flex-direction: column; align-items: center;
   margin: 50px auto;
   background: transparent;
}
.page-header-text p {
   margin: 0;
   background: transparent;
}
.page-header-text h2 {
   background: transparent;
}


/* INTERLUDE HEADER SECTION STYLING */
.interlude-container {
   background-image: url("../images/hq_header.png");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex; flex-direction: row;
   padding: 100px;
   gap: 50px;
}
#interlude-container-left {
   flex-basis: 50%;
   color: white;
   background: transparent;
   font-weight: bold;
   font-size: 50px;
   padding: 0;
}
#interlude-container-right {
   flex-basis: 50%;
   background: transparent;
   color: white;
   font-size: 20px;
   margin: 0;
}



/* E-COMMERCE SECTION STYLING */
.subjects-preview {
   display: flex;
   align-items: center;
   justify-content: center;
}
.floatbg {
   width: 100%;
   background: var(--fill);
   margin: 50px 5%;
   border-radius: 25px;
}
.title {
   padding: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.title h3 {
   margin-bottom: 20px;
}
.subjects-container {
   padding: 0 50px 50px 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 2%;
}
.product-link {
   background: white;
   width: 300px;
   display: block;
   text-decoration: none;
   padding: 18px;
   border: 1px solid var(--primary_dark);
   border-radius: 10px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card {
   list-style: none;
   margin: 15px;
}
.product-image {
   width: 100%;
   height: 100px;
   object-fit: cover;
   border-radius: 8px;
}
.badges {
   padding-top: 5px;
   display: flex;
   flex-direction: row;
   gap: 5px;
}
.badge {
   background: var(--button-hover);
   border: 2px solid var(--primary);
   color: white;
   padding: 6px 12px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 5px 0;
   width: fit-content;
   border-radius: 50px;
}
.product-title {
   font-size: 1.2rem;
   font-weight: 600;
   padding-top: 2px;
   padding-bottom: 12px;
}
.go-to-link {
   width: fit-content;
}
.go-to-link:hover {
   text-decoration: underline;
}



/*  TEAM SECTION STYLING */
.meet-our-team {
   padding-bottom: 50px;
}
.header-text-button-container {
   margin: 80px 100px 20px 100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.header-text-button-container h3 {
   margin-bottom: 20px;
}
.team-container {
   margin: 50px 100px;
   display: block;
}
.team-member {
   background: var(--background_alt);
   max-width: 300px;
   border-radius: 15px;
   grid-row: 1;
   padding: 20px;
   margin-right: 50px;
}
.profile-pic {
   width: 80px;
   height: 80px;
   border-radius: 40px;
   margin-bottom: 20px;
}
.hiring {
   border: 1px solid var(--primary);
}


/* PRICING PLAN SECTION STYLING */
.pricing {
   background: var(--background_alt);
}
.plans-container {
   padding: 50px 5% 70px 5%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.pricing-plan {
   background: white;
   min-width: 400px;
   padding: 30px;
   border: 1px solid var(--primary_dark);
}
.plan-name {
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 15px;
}
.plan-name h4 {
   margin-bottom: 5px;
   font-size: 30px;
}
.plan-price {
   padding: 15px 0;
   border-top: 1px solid #444444;
   border-bottom: 1px solid #444444;
}
.plan-price h3 {
   font-weight: 500;
   margin-bottom: 5px;
}
.fee {
   margin-bottom: 5px;
   font-size: 14px;
}
.plan-features table {
   margin-top: 5px;
}
.plan-features td {
   padding: 15px 15px 0 0
}
.plan-features img {
   height: 16px;
   width: 16px;
}
.goto {
   width: 100%;
   margin-top: 10px;
   text-align: center;
   border-radius: 0;
}


/* FAQs Section STYLING  */
.FAQs {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.FAQs div {
   margin: 20px 0;
}

.FAQs ul {
   display: flex;
   flex-direction: column;
}
.FAQs ul li h4 {
   margin-bottom: 40px;
   font-weight: bold;
}

.FAQs ul li {
   text-align: left;
}
.QA-content {
   width: 50%;
}
.QA-content li {
   padding: 20px 0;
}
.question {
   font-weight: bold;
   margin-bottom: 5px;
}
.header-text h4 {
   margin-bottom: 20px;
}
#contact-button {
   margin-top: 20px;
}

