:root {
   --text: black;

   --background: white;
   --background_alt: #EBFBFB;
   --fill: #E2FAFA;

   --primary: #3EB7B7;
   --primary_dark: #17A3A3;
   --secondary: #D8FCF4;

   --button: #3EB7B7;
   --button-hover:  #266C6C;

   --accent: #38E1F3;

   --misc_1: #DCF0FF;
   --misc_2: #DFFBF4;
   --misc_3: #E2FAFA;
}


/* GLOBAL DEFINITIONS */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Monospaced, sans-serif;
   font-weight: 300;
   font-size: 16px;
   text-decoration: none;
}

header {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px 5%;
   background-color: white;
   border-bottom: 1px solid gray;
}

h2 {
   font-size: 4em;
   font-weight: bold;
}
h3 {
   font-size: 3em;
   font-weight: bold;
}
h4 {
   font-size: 2em;
   font-weight: 400;
}

ul {
   list-style: none;
}
ul li {
   display: inline-block;
   position: relative;
}

button {
   padding: 12px 25px;
   background-color: var(--button);
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   transition: 1s;
}
button:hover {
   transition-duration: 0.2s;
   background-color: var(--button-hover);
}

a {
   color: black;
}

/* GLOBAL CLASSES */
.header-text {
   justify-content: center;
   text-align: center;
   padding-top: 50px;
}
.header-text-button {
   padding: 100px;
}
.header-text-button h4 {
   font-weight: bold;
}
.header-text-button p {
   margin: 20px 0;
}




/* NAVBAR STYLING */
.dropdown {
   border: 1px solid #4d4d4d;
   width: max-content;
   margin-top: 15px;
   background: white;
   position: absolute;
   display: none;
   z-index: 999;     /* most infront in the screen */
}


#pageLinks .dropdown li {
   display: block;
   margin: 12px;
   padding: 0px;
   flex-direction: column;
   width: auto;
   align-items: center;
}

#pageLinks .dropdown li a {
   display: block;
   padding: 10px;
   color: #444444;
   text-decoration: none;
   text-align: center;
   font-size: 14px;
   transition: all 0.3s ease;
}
#pageLinks .dropdown li a:hover {
   color: black;
   text-decoration: none;
   transform: translateY(-1px) translateX(2px);
}

#pageLinks {
   display: flex;
   width: auto;
   margin-right: 50px;
}

#pageLinks li {
   display: inline-block;
   width: fit-content;
   padding: 8px;
   margin: 5px;
}
#pageLinks li:hover ul.dropdown {
   display: block;
}

#pageLinks li a {
   color: black;
   transition: all 0.3s ease;
   padding: 15px;
}
#pageLinks li a:hover {
   color: var(--primary_dark);
   transition: all 0.3s ease;
}
#logo-link {
   padding: 0;
   margin-right: auto;
}
#logo {
   cursor: pointer;
   width: 240px;
   height: 40px;
}
#list_icon {
   width: 18px;
   height: 18px;
   margin-right: 10px;
}
#CTA-button {
   border: none;
   color: white;
   display: flex;
   align-items: center;
   border-radius: 2px;
}


/* FOOTER STYLING */
.footer {
   border-top: 1px solid gray;
   margin-top: 50px;
   padding: 80px 15%;
   background: white;
   display: flex;
   gap: 20px;
   flex-direction: column;
   width: 100%;

}
.top-footer {
   padding-bottom: 15px;
   border-bottom: 1px solid gainsboro;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.footer-misc p {
   font-size: 14px;
}


/* Left side of footer */
#footer-logo {
   height: 20%;
   width: 20%;
}
.footer-content p {
   color: #4d4d4d;
   font-size: 14px;
   margin-top: 10px;
}
.icons-container {
   margin-top: 10px;
}
.footer-icon {
   height: 24px;
   width: 24px;
   margin-right: 5px;
}
.icons a {
   color: #4d4d4d;
   font-size: 22px;
   margin-right: 10px;
}



/* Right side of footer */
.footer-right {
   display: flex;
   justify-content: space-evenly;
}

.footer-content h4 {
   width: 100%;
   color: #4d4d4d;
   margin-bottom: 20px;
   font-size: 18px;
   margin-right: 40px;
   white-space: nowrap;
}

.footer-content li {
   display: block;
   margin-bottom: 16px;
}

.footer-content li a {
   display: block;
   color: #4d4d4d;
   font-size: 12px;
   font-weight: 400;
   transition: all 0.4s ease;
}

.footer-content li a:hover {
   transform: translateX(-2px) translateY(-3px);
}

