:root {
   --left-distance: 8%;
}

html {
   scroll-behavior: smooth;
}

* {
   color: black;
}

h3 {
   font-size: 2em;
   font-weight: bold;
   margin-left: var(--left-distance);
   margin-top: 20px;
   padding-top: 20px;
}

.coming-soon {
   margin-top: 10px;
   margin-left: var(--left-distance);
}

.page-header {
   padding: 50px 0 50px var(--left-distance);
   background-size: cover;
   background: url("../images/classheader.jpg") center;
}
.page-header p {
   font-size: 18px;
   margin-top: 20px;
}


/* GRID DISPLAY STYLING */
.grid {
   padding-bottom: 50px;
}
.card-wrapper {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.card-list {
   display: block;
}
.product {
   padding: 25px;
}
.product h3 {
   font-size: 18px;
}
.slider {
   padding-left: 7%;
}
.product-link {
   width: 300px;
   display: block;
   text-decoration: none;
   padding: 18px;
   border: 1px solid var(--primary_dark);
   border-radius: 10px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card {
   list-style: none;
   margin: 15px;
}
.product-image {
   height: 145px;
   width: 262px;
   object-fit: cover;
   border-radius: 8px;
}
.badges {
   padding-top: 6px;
   display: flex;
   flex-direction: row;
   gap: 5px;
}
.badge {
   background: var(--button-hover);
   border: 2px solid var(--primary);
   color: white;
   padding: 6px 12px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 5px 0;
   width: fit-content;
   border-radius: 50px;
}
.product-title {
   font-size: 1.2rem;
   font-weight: 600;
   padding-top: 2px;
   padding-bottom: 12px;
}
.go-to-link {
   width: fit-content;
}
.go-to-link:hover {
   text-decoration: underline;
}


