@charset "UTF-8";




h2 {
   font-size: 3em;
   font-weight: bold;
}
h3 {
   font-size: 2em;
   font-weight: bold;
   margin-left: 150px;
   margin-top: 40px;
}


.header {
   margin: 50px 0 50px 150px;

}
.header p {
   margin: 10px 0;
}

.card-wrapper {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}


.card-list {
   display: block;
   margin: 0 10px;
}
.product {
   padding: 25px;
}
.product h3 {
   font-size: 18px;
}

.slider {
   padding-left: 120px;
}

.card-list .card .product-link {
   width: 300px;
   display: block;
   text-decoration: none;
   padding: 18px;
   border: 1px solid black;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card-list .card {
   list-style: none;
   margin: 15px;
}

.card-list .product-link .product-image {
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
}

.card-list .card .badge {
   background: lightgray;
   padding: 7px 14px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 5px 0;
   width: fit-content;
   border-radius: 50px;
}
.card-list .card .product-title {
   font-size: 1.2rem;
   font-weight: 600;
   padding-top: 5px;
   padding-bottom: 0px;
}

.product-desc {
   margin: 10px 0;
}






* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: white;
   font-family: Monospaced, sans-serif;
   font-weight: 300;
   font-size: 16px;
   color: #444444;
   text-decoration: none;
}

header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 22px 5%;
   background-color: white;
   border-bottom: 1px solid gray;
}


ul {
   list-style: none;
}
ul li {
   display: inline-block;
   position: relative;
}

.dropdown {
   border: 1px solid #4d4d4d;
   width: max-content;
   margin-top: 15px;
   background: white;
   position: absolute;
   display: none;
   z-index: 999;     /* most infront in the screen */
}

#pageLinks .dropdown li {
   display: block;
   margin: 12px;
   padding: 0px;
   flex-direction: column;
   width: auto;
   align-items: center;
}

#pageLinks .dropdown li a {
   display: block;
   padding: 10px;
   color: #444444;
   text-decoration: none;
   text-align: center;
   font-size: 14px;
   transition: all 0.3s ease;
}
#pageLinks .dropdown li a:hover {
   color: black;
   text-decoration: none;
   transform: translateY(-1px) translateX(2px);
}

#pageLinks {
   display: flex;
   width: auto;
   margin-right: 50px;
}

#pageLinks li {
   display: inline-block;
   padding: 8px;
   background-color: white;
   margin: 5px;
}
#pageLinks li:hover ul.dropdown {
   display: block;
}

#pageLinks li a {
   transition: all 0.3s ease;
   padding: 15px;
}
#pageLinks li a:hover {
   color: black;
   transition: all 0.3s ease;
}

.CTA img {
   width: 10%;
   height: 10%;
   margin-right: 5px;
}



p {  /* dummy element - can be removed */
   margin-bottom: 50px;
}

.logo {
   cursor: pointer;
   margin-right: auto;
   width: 20%;
   height: 20%;
}


button {
   padding: 12px 25px;
   background-color: white;
   border: 1px solid gray;
   cursor: pointer;
}

button:hover {
   border-color: black;
}



.footer {
   border-top: 1px solid gray;
   margin-top: auto;
   padding: 80px 15%;
   background: #fdfaf6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   list-style: none;
   width: 100%;
}

.footer-content {
   background: #fdfaf6;
}

.footer-right {
   display: flex;
   justify-content: space-evenly;
}

.footer-content h4 {
   color: #4d4d4d;
   margin-bottom: 20px;
   font-size: 16px;
   background: #fdfaf6;
   margin-right: 40px;
}

.footer-content li {
   margin-bottom: 16px;
}

.footer-content li a {
   display: block;
   color: #4d4d4d;
   font-size: 12px;
   font-weight: 400;
   transition: all 0.4s ease;
   background: #fdfaf6;
}

.footer-content li a:hover {
   transform: translateX(-2px) translateY(-3px);
}

.footer-content p {
   color: #4d4d4d;
   font-size: 14px;
   margin: 10px 0;
}

.icons a {
   color: #4d4d4d;
   font-size: 22px;
   margin-right: 10px;
}
