


/* PAGE HEADER STYLING */
.page-header {
   background-image: url("../images/placeholder.webp");
   display: flex; justify-content: center;
}
.page-header-text {
   display: flex; flex-direction: column; align-items: center;
   margin: 50px auto;
   background: transparent;
}
.page-header-text p {
   margin: 0;
   background: transparent;
}
.page-header-text h2 {
   background: transparent;
}


.icon {
   height: 20px;
   width: 20px;
}



#list_icon {
   width: 18px;
   height: 18px;
}



.card-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.card-list {
   display: block;
   margin: 0 10px;
}
.product {
   padding: 25px;
   background: lightcoral;
}
.product h3 {
   font-size: 18px;
}

.slider {
   margin-top: 50px;
}

.card-list .card .product-link {
   width: 300px;
   display: block;
   text-decoration: none;
   padding: 18px;
   border: 1px solid black;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card-list .card {
   list-style: none;
   margin: 15px;
}

.card-list .product-link .product-image {
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
}

.card-list .card .badge {
   background: lightgray;
   padding: 7px 14px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 5px 0;
   width: fit-content;
   border-radius: 50px;
}
.card-list .card .product-title {
   font-size: 1.2rem;
   font-weight: 600;
   padding-top: 5px;
   padding-bottom: 0px;
}

.product-desc {
   margin: 10px 0;
}



tr td:first-child {
   padding-right: 20px;
}
tr td {
   padding-top: 15px;
}


.QA-content {
   width: 50%;
}

.header-text {
   justify-content: center;
   text-align: center;
}

.header-text h2 {
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 40px;
}

.FAQs {
   margin: 40px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.FAQs div {
   margin: 20px 0;
}

.FAQs ul {
   display: flex;
   flex-direction: column;
}
.FAQs ul li h4 {
   margin-bottom: 40px;
   font-weight: bold;
}

.FAQs ul li {
   text-align: left;
}



.icons a {
   color: #4d4d4d;
   font-size: 22px;
   margin-right: 10px;
}

.image-and-list {
   display: flex;
   justify-content: space-around;
}
.calendar-display {
   display: flex;
   justify-content: space-around;
}
.image-section {
   display: flex;
   justify-content: space-around;
}
.number-container {
   display: flex;
   flex-direction: row;
}
.statistic h4 {
   font-size: 20px;
   font-weight: bold;
}

.placeholder {
   width: 1000px;
   height: 500px;
}
