



.big-image {
   width: 50%;
   height: 50%;
}



/* PAGE HEADER STYLING */
.page-header {
   background-image: url("../images/subjects_header.png");
   background-size: 100%;
   color: white;
   display: flex; justify-content: center;
}
.page-header-text {
   display: flex; flex-direction: column; align-items: center;
   padding: 80px;
   background: transparent;
}
.page-header-text p {
   margin-top: 30px;
   background: transparent;
}
.page-header-text h2 {
   background: transparent;
}


/* Image Section STYLING */
.image-section-container {
   padding: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.image-header-text {
   flex-basis: 45%;
   justify-content: center;
}
.image-header-text p {
   margin: 20px 0;
}


/* Features Section STYLING */
.title {
   padding: 50px;
   display: flex;
   flex-direction: row;
}
.left {
   flex-basis: 50%;
}
.right {
   flex-basis: 50%;
}
.features-container {
   padding: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.feature-and-icon {
   margin: 20px;
}
.feature-and-icon h4 {
   margin: 20px 0;
}
.big-icon {
   width: 40px;
   height: 40px;
}


/*  SUBJECTS GRID STYLING */
.grid-container {
   padding: 150px;
}
.card-wrapper {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.card-list {
   display: block;
   margin: 0 10px;
}
.product {
   padding: 25px;
}
.product h3 {
   font-size: 18px;
}
.slider {
   margin: 50px 0;
}
.card-list .card .product-link {
   width: 300px;
   display: block;
   text-decoration: none;
   padding: 18px;
   border: 1px solid black;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card-list .card {
   list-style: none;
   margin: 15px;
}
.card-list .product-link .product-image {
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
}
.card-list .card .badge {
   background: lightgray;
   padding: 7px 14px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 5px 0;
   width: fit-content;
   border-radius: 50px;
}
.card-list .card .product-title {
   font-size: 1.2rem;
   font-weight: 600;
   padding-top: 5px;
   padding-bottom: 0px;
}
.product-desc {
   margin: 10px 0;
}

.student-name {
   font-weight: bold;
   margin-bottom: 2px;
}


/* Testimonials Section STYLING */
.review-container {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 50px;
}
.review {
   width: fit-content;
   justify-content: center;
}
.profile {
   display: flex;
   flex-direction: row;
}
.profile-pic {
   width: 80px;
   height: 80px;
   border-radius: 40px;
   margin-bottom: 20px;
}



/* FAQs Section STYLING  */
.FAQs {
   margin: 40px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.FAQs div {
   margin: 20px 0;
}

.FAQs ul {
   display: flex;
   flex-direction: column;
}
.FAQs ul li h4 {
   margin-bottom: 40px;
   font-weight: bold;
}

.FAQs ul li {
   text-align: left;
}
.QA-content {
   width: 50%;
}
.QA-content li {
   padding: 20px 0;
}
.question {
   font-weight: bold;
   margin-bottom: 5px;
}
.header-text h4 {
   margin-bottom: 20px;
}
#contact-button {
   margin-top: 20px;
}

