:root {
   --fill1: #E2FAFA;
   --gradient1: #c3efe2;

   --fill2: #d7f8f7;
   --gradient2: #a3e9ef;
}

/* GLOBAL CLASSES */
.header-text {
   justify-content: center;
   text-align: center;
   padding-top: 20px;
}
.header-text h3 {
   margin-bottom: 30px;
}
.header-text p {
   margin-bottom: 20px;
}


/* TESTIMONIALS STYLING */
.testimonials-container {
   padding: 0 7%;
   columns: 350px;
   justify-content: center;
   align-items: start;
}
.testimonials-column {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.testimonial {
   max-width: 500px;
   padding: 25px;
   margin: 18px;
   border: 1px solid var(--primary);
}
.testimonial2 {
   max-width: 500px;
   padding: 25px;
   margin: 18px;
   background: linear-gradient(150deg, var(--fill1) 0%, var(--gradient1) 70%, var(--fill1) 100%);
}
.testimonial3 {
   max-width: 500px;
   padding: 25px;
   margin: 18px;
   background: linear-gradient(195deg, var(--fill2) 0%, var(--gradient2) 60%, var(--fill2) 100%);
}
.quote {
   font-style: italic;
   margin: 20px 0;
}
.student-name {
   font-weight: bold;
   margin-bottom: 5px;
}
.rating {
   width: 150px;
   height: 75px;
   padding: -25px;
}
.uni {
   font-size: 14px;
}
