<nav>
   <div id="left">
      <a id="logo-link" href="index.html">
         <img id="logo" src="https://media.licdn.com/dms/image/D4D3DAQGejYrVFvFwWA/image-scale_191_1128/0/1719933016095/brightfuturespain_cover?e=2147483647&v=beta&t=IKKIX0B5dCWML9JAyDXwll54sY9-Q3yNU8DlYKT09_o" alt="logo">
      </a>
   </div>
   <div id="right">
      <a href="AboutUsPage.html">About Us</a>
      <a href="SubjectsPage.html">Classes</a>
      <a href="ContactPage.html">Contact</a>
      <a class="CTA button-style" href="GridViewSubjects.html" id="CTA-button">
         <img id="list_icon" src="../icons/list_icon.svg" alt="icon">
         All Subjects
      </a>
   </div>
</nav>
